@page
@model KRWebDesign.Pages.ShoppingCart.IndexModel

@{
    ViewData["Title"] = "Shopping Kart";
    Layout = "~/Pages/Shared/_RenosStyle.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>

        <a class="btn-danger" asp-page="/SmokedMeats/Index">
            Back to Shopping
        </a>
    </div>
    <table class="table" id="customers">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].ItemsInToCart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].DateCreated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemsInToCart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                         <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
